<ion-view view-title="Links" view-title="false" hide-nav-bar="true">
    <ion-header-bar class="bar bar-stable">
        <h1 class="title">
            Useful links
        </h1>
    </ion-header-bar>
  <ion-content>
    <ion-list>
          <a class="item item-icon-left"
             href="#"
             onClick="window.open('http://aurorawatch.lancs.ac.uk/','_blank','location=yes');return false;">
              <i class="icon ion-link"></i>
              Aurora Watch UK website
          </a>
          <a class="item item-icon-left"
             href="#"
             onClick="window.open('https://twitter.com/aurorawatchuk','_blank','location=yes');return false;">
              <i class="icon ion-link"></i>
              Aurora Watch UK on Twitter
          </a>
          <a class="item item-icon-left"
             href="#"
             onClick="window.open('https://www.facebook.com/aurorawatchuk','_blank','location=yes');return false;">
              <i class="icon ion-link"></i>
              Aurora Watch UK on Facebook
          </a>
          <a class="item item-icon-left"
             href="#"
             onClick="window.open('http://www.flickr.com/groups/aurorawatch','_blank','location=yes');return false;">
              <i class="icon ion-link"></i>
              Aurora Watch UK on Flickr
          </a>
          <a class="item item-icon-left"
             href="#"
             onClick="window.open('http://aurorawatch.lancs.ac.uk/photo_sites','_blank','location=yes');return false;">
              <i class="icon ion-link"></i>
              Top Spots
          </a>
          <a class="item item-icon-left"
             href="#"
             onClick="window.open('http://aurorawatch.lancs.ac.uk/cgi-bin/report_sighting','_blank','location=yes');return false;">
              <i class="icon ion-link"></i>
              Aurora Watch UK Report Sighting
          </a>
    </ion-list>
  </ion-content>
</ion-view>
