
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">


  <!-- Home Tab -->
  <ion-tab title="Status" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

    <!-- Dashboard Tab -->
  <ion-tab title="Data" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Links" icon-off="ion-ios7-people-outline" icon-on="ion-ios7-people" href="#/tab/links">
    <ion-nav-view name="tab-links"></ion-nav-view>
  </ion-tab>


  <!-- Settinga Tab -->
<!--  <ion-tab title="Settings" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>-->


</ion-tabs>
